* {
  font-family: Roboto;
}

/* Pros
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pros {
  background-image: url('assets/england.jpg');
  background-size: cover;
  color: #fff;
}

.price {
  background-image: url('assets/usa.jpg');
  background-size: cover;
  color: #fff;
}

.pros-heading {
  margin-bottom: .3rem;
}

.pros-description {
  font-weight: 300;
}

/* About Teacher
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.teacher .photo-container {
  text-align: start;
  max-width: 300px;
  padding: 3px 0 10px 10px;
}

.section.teacher .photo-container .glide__slides, 
.section.teacher .photo-container .glide__slides li {
  margin-bottom: 0;
  display: flex;

align-self: center;
}
.section.teacher .photo-container .glide__slides li img {
  margin-top: 7px;
}

.section.teacher .teacher-description {
  text-align: justify;
}

.section.teacher .quote {
  display: flex;
  border: 1px solid #e8e8e8;
  overflow: hidden;
}

@media (max-width: 1050px) {
  .section.teacher .quote {
    flex-flow: column;
  }

  .section.teacher .quote .photo-container {
    align-self: center;
  }

  .section.teacher .quote .quote-body .teacher-heading, 
  .section.teacher .quote .quote-body .teacher-description {
    justify-content: center;
    text-align: center;
  }
}

.section.teacher .quote .photo-container,
.section.teacher .quote .quote-body {
  display: flex;
  background-color: rgba(0,0,0,0.01);
}

.section.teacher .quote .quote-body {
  flex-flow: column;
  justify-content: center;
  padding: 0 40px;
}

.section.teacher .quote .quote-body > .teacher-heading {
  display: flex;
}

.section.teacher .quote .quote-body .teacher-heading {
  margin: 0;
}

.section.teacher .quote .quote-body .quotes-image {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 5%;
  min-width: 30px;
  opacity: .2;
}

.text-centered {
  text-align: center;
}

.glide__arrow {
  width: 50px;
  border: none;
  box-shadow: none;
}

.glide__arrow--left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 0;
}

.glide__arrow--right {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  right: 0;
}

.pros, .price {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.phone-link {
  font-size: 26px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #C65050;
}

.social-links {
  margin-top: 2.5rem;
}

.last-phone {
  margin-left: 10px;
}

@media (max-width: 625px) {
  .phone-link {
    display: block;
  }

  .last-phone {
    margin: 0;
  }
}
