* {
  font-family: Roboto;
}

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.book-container {
  position: relative;
  display: flex;
}

.book-container img {
  position: relative;
  max-width: 40%;
  margin: 3rem auto -12rem;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.1));
}

@media (min-width: 550px) and (max-width: 750px) {
  .section.hero {
    padding-bottom: 40vw;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .book-container img {
    right: 0;
    max-height: 410px;
    max-width: 80%;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .book-container img {
    max-height: 515px;
  }
}

/* Pros
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pros {
  background-image: url('../assets/england.png');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.price {
  background-image: url('../assets/usa.png');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.pros-heading {
  margin-bottom: .3rem;
}

.pros-description {
  opacity: .8;
  font-weight: 300;
}

/* About Teacher
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.teacher .photo-container {
  text-align: start;
  width: 300px;
}

.section.teacher .teacher-description {
  text-align: justify;
}

.section.teacher .quote {
  display: flex;
  border: 1px solid #e8e8e8;
}

.section.teacher .quote .photo-container,
.section.teacher .quote .quote-body {
  display: flex;
}

.section.teacher .quote .quote-body {
  flex-flow: column;
  justify-content: center;
  padding: 0 40px;
  background-color: rgba(0,0,0,0.01);
}

.section.teacher .quote .quote-body > .teacher-heading {
  display: flex;
}

.section.teacher .quote .quote-body .teacher-heading {
  margin: 0;
}

.section.teacher .quote .quote-body .quotes-image {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 5%;
  opacity: .2;
}

.text-centered {
  text-align: center;
}
